:root{
  --accent-red: #B10000;
  --second-color: rgb(9, 2, 2);
  --nav-color: #412442;
  --logo-font-family: 'Rubik Beastly', cursive;
  --rubik: 'Rubik', sans-serif;
  --rubik-beast: 'Rubik Beastly', cursive;
  --rubik-glitch: 'Rubik Glitch', cursive;
  --rubik-microbe: 'Rubik Microbe', cursive;
  --rubik-mono: 'Rubik Mono One', sans-serif;
  --rubik-moon-rocks: 'Rubik Moonrocks', cursive;
  --rubik-wet-paint: 'Rubik Wet Paint', cursive;
}

@font-face {
  font-family: "dangerbot-chrome";
  src: url("./typefaces/DangerbotChrome-gLlE.ttf") format("TrueType") ;
}



.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  color:seashell;
}

a{
  color:seashell;
  text-decoration: none;
}

.accent-color{
  color: var(--accent-red);
}

#nav-bar{
  position: relative;
  height: 10vh;
  min-height: 52px;
  background-color: var(--second-color);
}

#nav-logo{
  font-family: var(--rubik-wet-paint);
  font-weight: 100;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 2vw;
  transform: translate(0%, -50%);
}

#link-list{
  position: absolute;
  display:flex;
  flex-direction: row;
  width: 33vw;
  left: 66vw;
  top: 50%;
  transform: translate(0%, -50%);
  
}

.nav-links{
  font-size: 1.3rem;
  margin-left: 1.3rem;

}

.hack-logo{
  font-family: var(--rubik-glitch);
}

.art-logo{
  font-family: var(--rubik-microbe);
}

.web-dev-logo{
  font-family: var(--rubik-mono);
}

.tech-logo{
  font-family: "dangerbot-chrome";
}
